* {
	box-sizing: border-box;
}

body {
	background-image: url(Fondo.webp);
	width: 100vw;
	overflow-x: hidden;
	font-family: "Raleway", serif;
}
/*Navegacion*/
.header {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
	background-color: #3199d0;
	position: fixed;
	top: 0;
	z-index: 100;
	width: 100%;
}
.logo {
	display: flex;
	align-items: center;
}
.logo img {
	width: 6rem;
	height: 6rem;
	padding: 1rem 1.25rem;
}
.header--titulo {
	font-family: "Raleway", serif;
	font-size: 2rem;
	color: #294d5c;
}
.nav {
	display: flex;
	flex-wrap: wrap;
	font-family: "Raleway", serif;
	font-size: 1.5em;
	color: #307bd5;
}

.nav--link {
	padding: 0.5rem 1.5rem;
	text-decoration: none;
	color: #294d5c;
	transition: 0.5s ease-in-out all;
}

.nav--link:hover {
	color: #08629c;
	cursor: pointer;
	transform: scale(1.1);
	border-bottom: solid #08629c;
}
/*Navegacion*/
/*Sobre Mi*/
.aboutMe {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 9.25rem;
	align-items: center;
	margin-top: 10rem;
}
.aboutMe--summary {
	width: 50%;
}
.aboutMe--summary h1 {
	font-family: "Lobster";
	font-size: 4.5rem;
	margin-bottom: 5rem;
	animation: cambioColor 5s infinite;
}
.aboutMe--summary p {
	font-family: "Raleway", serif;
	font-size: 1.5rem;
	margin-bottom: 5rem;
	color: #36382e;
	line-height: 2.5rem;
}
.socialMedia {
	display: flex;
	gap: 100px;
	align-items: center;
	justify-content: center;
}
.socialMedia > div {
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: all 1s ease;
}
.socialMedia > div img {
	width: 50px;
	height: 50px;
	border-radius: 100%;
	transition: 0.5s all;
	margin: 15px;
}
.socialMedia > div img:hover {
	transform: scale(1.1);
	box-shadow: 0px 0px 33px 4px rgba(128, 3, 165, 1);
}

.profile img {
	border-radius: 100%;
	width: 30rem;
	height: 30rem;
}
/*Sobre Mi*/
/*Biografia*/
.biography {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 5rem;
	margin-bottom: 5rem;
}
.biography h1 {
	font-family: "Lobster";
	font-size: 3rem;
	margin-bottom: 5rem;
	animation: cambioTamaño infinite 0.8s ease-in-out;
}
.biography p {
	font-family: "Raleway", serif;
	font-size: 1.5em;
	width: 90%;
	line-height: 2.5rem;
}
/*Biografia*/
/*skills*/
.skills {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.skills h2 {
	font-family: "Lobster";
	font-size: 3rem;
	margin-bottom: 5rem;
	animation: cambioTamaño infinite 0.8s ease-in-out;
}
.skills--sections {
	display: flex;
	flex-direction: column;
	width: 90%;
}
.Skills {
	display: flex;
	overflow-x: hidden;
	overflow-y: hidden;
	padding: 3.125rem;
	gap: 3.125rem;
}
.Skills--item {
	display: flex;
	flex-direction: column;
	width: 16rem;
	align-items: center;
	text-align: center;
	justify-content: center;
	font-family: "Raleway", serif;
	transition: all 1s ease;
}
.Skills--item img {
	margin: 1rem;
	width: 12.5rem;
	height: 12.5rem;
}
.Skills--item:hover {
	transform: scale(1.2);
	cursor: pointer;
}
.Skills--item:hover p {
	transform: scale(1.3);
	transform: translateY(1.25rem);
	color: #8003a5;
	transition: all 1s cubic-bezier(0.47, 0, 0.745, 0.715);
}
/*skills*/
/*Hobbies*/
.hobbies {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 6.25rem;
	margin-bottom: 3.125rem;
}
.hobbies h2 {
	font-family: "Lobster";
	font-size: 3rem;
	margin-bottom: 5rem;
	animation: cambioTamaño infinite 0.8s ease-in-out;
}
.Hobbies {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	gap: 3.125rem;
	width: 90%;
}
.Hobbies--item {
	display: flex;
	flex-direction: column;
	width: 12.5rem;
	height: 12.5rem;
	align-items: center;
	text-align: center;
	justify-content: center;
	font-family: "Raleway", serif;
	border-radius: 1.25rem;
	font-size: 1.25rem;
	transition: all 1s ease;
}
.Hobbies--item img {
	width: 100%;
	height: 100%;
}
.Hobbies--item:hover {
	transform: scale(1.2);
	cursor: pointer;
}
.Hobbies--item:hover p {
	color: #8003a5;
	transform: translateY(2rem);
	transition: 1s all ease;
}
.Hobbies--item img:hover {
	opacity: 0;
}
#leer:hover {
	background-image: url("https://media1.giphy.com/media/WoWm8YzFQJg5i/giphy.gif?cid=ecf05e47o1s6mv0lzv3ucrxfud6ukwnu1u2mt60k0ru5e74g&ep=v1_gifs_search&rid=giphy.gif&ct=g");
	background-size: cover;
	background-position: -1.5rem;
	transition: 1s ease-in-out;
}
#escuchar:hover {
	background-image: url("https://media2.giphy.com/media/JxxkWxHOEDrq0/giphy.gif?cid=ecf05e47yk0jcb83xotvunpgh0b8xf46ridtxbz32s3q29ey&ep=v1_gifs_search&rid=giphy.gif&ct=g");
	background-size: cover;
	background-position: center;
	transition: 1s ease-in-out;
}
#dibujar:hover {
	background-image: url("https://media4.giphy.com/media/QLj1DlO0Qe2Ws/giphy.gif?cid=ecf05e47wo1ps23a0i03qxodgb7ayv4fx7216siqzd51vvvq&ep=v1_gifs_search&rid=giphy.gif&ct=g");
	background-size: cover;
	background-position: -50px;
	transition: 1s ease-in-out;
}
#programar:hover {
	background-image: url("https://media1.giphy.com/media/bGgsc5mWoryfgKBx1u/giphy.gif?cid=ecf05e47go9owss246shld31j6f0st737hik866z8y53oz78&ep=v1_gifs_search&rid=giphy.gif&ct=g");
	background-size: cover;
	background-position: -15px;
	transition: 1s ease-in-out;
}
#bicicleta:hover {
	background-image: url("https://media2.giphy.com/media/l0MYyhUkkGGKaGcIo/giphy.gif?cid=ecf05e47xt6zburl8sttso8q3a7zpm51aw3xluza97hsih5m&ep=v1_gifs_search&rid=giphy.gif&ct=g");
	background-size: cover;
	background-position: -30px;
	transition: 1s ease-in-out;
}
#viajar:hover {
	background-image: url("https://media0.giphy.com/media/AErExHJVxRbkm5hPkB/giphy.gif?cid=ecf05e4721n7fcepndi1miiore1lagfo4h1e3qvusqo0z2lq&ep=v1_gifs_search&rid=giphy.gif&ct=g");
	background-size: cover;
	transition: 1s ease-in-out;
}
#jugar:hover {
	background-image: url("https://media1.giphy.com/media/94DBMnpVEbJLy/giphy.gif?cid=ecf05e47fpr9q64vdqgloyz60jl1lumftshqmcw8xqntj9b3&ep=v1_gifs_search&rid=giphy.gif&ct=g");
	background-size: cover;
	background-position: -50px;
	transition: 1s ease-in-out;
}
#bailar:hover {
	background-image: url("https://media1.giphy.com/media/l3V0lsGtTMSB5YNgc/giphy.gif?cid=ecf05e47lusszbeken1lq0g8qf46ofpjqr9g6o2o5snffnz6&ep=v1_gifs_search&rid=giphy.gif&ct=g");
	background-size: cover;
	background-position: -50px;
	transition: 1s ease-in-out;
}
#caminar:hover {
	background-image: url("https://media3.giphy.com/media/VhWFMl9M6zKpqB2dkc/giphy.gif?cid=ecf05e47jcj94talwjwvz549yw6w3i13f3nfhr2r554mcb8v&ep=v1_gifs_search&rid=giphy.gif&ct=g");
	background-size: cover;
	transition: 1s ease-in-out;
}
#aprender:hover {
	background-image: url("https://media3.giphy.com/media/Ec5RkrmARxPmTuXgrZ/giphy.gif?cid=ecf05e47oa4698qvjy5y4muemi5sn9n0t3q50b4c7s27r499&ep=v1_gifs_search&rid=giphy.gif&ct=g");
	background-size: cover;
	background-position: -45px;
	transition: 1s ease-in-out;
}
#gimnasio:hover {
	background-image: url("https://media3.giphy.com/media/xTk9ZRHPeMzAO1njBC/giphy.gif?cid=ecf05e473i4u80vg0i9k4mu9d4ewle0xzii7lufr06hn1nrk&ep=v1_gifs_search&rid=giphy.gif&ct=g");
	background-size: cover;
	background-position: -45px;
	transition: 1s ease-in-out;
}
#nadar:hover {
	background-image: url("https://media2.giphy.com/media/l3V0mnnGcVblF8bAI/giphy.gif?cid=ecf05e47ocstmq1h5gimnfivbb5gqi164cyq4eyy461ilc3g&ep=v1_gifs_search&rid=giphy.gif&ct=g");
	background-size: cover;
	background-position: -50px;
	transition: 1s ease-in-out;
}
/*Hobbies*/
/*Formacion*/
.Education {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
}
.Education h2 {
	font-family: "Lobster";
	font-size: 3rem;
	margin-bottom: 5rem;
	animation: cambioTamaño infinite 0.8s ease-in-out;
}
.Schools {
	display: flex;
	flex-wrap: wrap;
	gap: 3.125rem;
	width: 90%;
	margin-top: 1.5rem;
	justify-content: center;
}
.Schools--item {
	position: relative;
	width: 18rem;
	height: 18rem;
}
.Schools--item div {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	backface-visibility: hidden;
	transition: 1s ease-in-out;
	border-radius: 3.125rem;
	text-align: center;
}
.Schools--item img {
	width: 15rem;
}
.Schools--item-front {
	transform: perspective(500px) rotateY(0deg);
	background-color: rgba(49, 153, 208, 0.3);
}
.Schools--item-back {
	flex-direction: column;
	transform: perspective(500px) rotateY(180deg);
	background-color: rgba(41, 77, 92, 0.8);
	color: #e5e5e5;
}
.Schools--item:hover .Schools--item-front {
	transform: perspective(500px) rotateY(180deg);
	cursor: pointer;
}
.Schools--item:hover .Schools--item-back {
	transform: perspective(500px) rotateY(360deg);
}
.Schools--item-back h3 {
	font-size: larger;
	font-weight: bolder;
	font-family: "Raleway", serif;
	margin-bottom: 1.5rem;
}
.Schools--item-back p {
	font-size: medium;
	font-family: "Raleway", serif;
	margin-bottom: 1.5rem;
}
/*Formacion*/
/*Proyectos*/
.Projects {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 2rem;
}
.Projects h1 {
	font-family: "Lobster";
	font-size: 3rem;
	margin-top: 5rem;
	margin-bottom: 5rem;
	animation: cambioTamaño infinite 0.8s ease-in-out;
}
.project {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 90%;
	margin-top: 10px;
	margin-bottom: 20px;
}
.project--image {
	margin: 3.5rem;
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.project--image img {
	width: 100%;
	height: 100%;
	border-radius: 25px;
	box-shadow: 1rem 1rem 0.75rem 0.1rem rgba(0, 0, 0, 0.5);
	transition: all 0.5s ease-in-out;
}
.project--image img:hover {
	transform: scale(1.01);
	box-shadow: 1rem 1rem 0.75rem 0.5rem rgba(0, 0, 0, 0.75);
}
.project--content {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 40%;
	gap: 1rem;
}
.project--content h2 {
	font-family: "Lobster";
	font-size: 3rem;
	animation: cambioColor 8s infinite;
}
.project--content h4 {
	font-family: "Raleway", serif;
	font-size: 2rem;
	line-height: 2.5rem;
}
.project--content p {
	font-family: "Raleway", serif;
	font-size: 1.5rem;
	line-height: 2.5rem;
	text-align: justify;
	margin-bottom: 0.75rem;
}
.project--buttons {
	display: flex;
	gap: 30px;
}
.project--buttons a {
	text-decoration: none;
	color: #36382e;
}
.project--buttons button {
	padding: 15px;
	background-color: rgba(49, 153, 208, 0.3);
	border-radius: 20px;
	border: none;
	color: #36382e;
	font-size: 35px;
	transition: all 1s ease-in-out;
}
.project--buttons button:hover {
	background-color: rgba(54, 56, 46, 0.3);
	color: #8003a5;
	transform: scale(1.1);
}
.project--buttons a:hover {
	color: #8003a5;
}
/*Proyectos*/
/*Contacto*/
.contenedorContacto {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px;
}
.contenedorContacto h1 {
	font-family: "Lobster";
	font-size: 4em;
	margin-top: 5vh;
	margin-bottom: 5vh;
	animation: cambioTamaño infinite 0.8s ease-in-out;
}
.contenedorItemC {
	display: flex;
	flex-direction: column;
	padding: 15px;
	position: relative;
	margin-bottom: 10px;
}
.contenedorItemC label {
	margin-bottom: 10px;
	font-size: larger;
	font-family: "Raleway", serif;
	color: #36382e;
}
.contenedorItemC input {
	width: 32rem;
	height: 2rem;
	font-family: "Raleway", serif;
	border-radius: 10px;
	border: 0;
}
.contenedorItemC input:focus {
	border: 1px #8003a5 solid;
	outline: none;
}
.contenedorItemC textarea {
	border-radius: 10px;
}
.labelN {
	position: absolute;
	top: 20px;
	left: 20px;
	transition: all 0.5s;
}
#nombre::placeholder,
#correo::placeholder,
#tema::placeholder,
#mensaje::placeholder {
	visibility: hidden;
}
#nombre:not(:placeholder-shown) + .labelN,
#nombre:focus + .labelN,
#correo:not(:placeholder-shown) + .labelN,
#correo:focus + .labelN,
#tema:not(:placeholder-shown) + .labelN,
#tema:focus + .labelN,
#mensaje:not(:placeholder-shown) + .labelN,
#mensaje:focus + .labelN {
	top: -13px;
	transition: all 0.5s;
	color: #8003a5;
}
.contenedor-boton {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.boton {
	display: inline-flex;
	width: 400px;
	height: 50px;
	background-color: #36382e;
	color: #e5e5e5;
	font-family: "Raleway", serif;
	font-size: 20px;
	align-items: center;
	justify-content: center;
	font-weight: 500;
	border: none;
	border-radius: 20px;
	cursor: pointer;
	transition: all 0.4s ease;
	position: relative;
	margin: 10px 0px;
}
.boton span {
	transition: 0.4s all ease-in-out;
	position: absolute;
	left: 30%;
}
.boton .flecha {
	display: flex;
	align-items: center;
	position: absolute;
	z-index: 2;
	left: -40px;
	transition: all 0.3s ease-in-out;
	opacity: 0;
}
.flecha svg {
	color: #e5e5e5;
	width: 25px;
	height: 25px;
}
.boton:hover .flecha {
	left: calc(100% - 50px);
	opacity: 1;
}
.boton:hover span {
	left: 20px;
}
.boton:hover {
	background-color: #8003a5;
}
.formulario-input-error {
	font-size: 15px;
	font-family: "Raleway", serif;
	color: #bb2929;
	margin-top: 10px;
	display: none;
}
.formulario-input-error-activo {
	display: block;
}
.formulario-mensaje {
	height: 45px;
	line-height: 45px;
	background: #f66060;
	padding: 0 15px;
	border-radius: 10px;
	display: none;
}
.formulario-mensaje-activo {
	display: block;
}
.formulario-mensaje-enviado {
	font-size: 14px;
	color: #119200;
	display: none;
}
.formulario-mensaje-enviado-activado {
	display: block;
}
.formulario-incorrecto input {
	border: solid 2px #bb2929;
}
.formulario-incorrecto label {
	color: #bb2929;
}
.formulario-incorrecto textarea {
	border: solid 2px #bb2929;
}
.formulario-correcto input {
	border: solid 2px #119200;
}
.formulario-correcto textarea {
	border: solid 2px #119200;
}
/*Contacto*/
/*Footer*/
.contenedorFooter {
	display: flex;
	align-items: center;
	justify-content: center;
}
.contenedorFooter p {
	margin: 50px;
	font-size: 3em;
	font-family: "Lobster";
	animation: cambioColor 10s ease infinite;
}
/*Footer*/
/*Animaciones*/
@keyframes cambioColor {
	0% {
		color: #8003a5;
	}
	20% {
		color: #36382e;
	}
	40% {
		color: #8003a5;
	}
	60% {
		color: #36382e;
	}
	80% {
		color: #8003a5;
	}
	90% {
		color: #36382e;
	}
	100% {
		color: #8003a5;
	}
}
@keyframes cambioTamaño {
	0% {
		transform: scale(1);
		color: #36382e;
	}
	50% {
		transform: scale(1.1);
		color: #8003a5;
	}
	100% {
		transform: scale(1);
		color: #36382e;
	}
}
/*Animaciones*/
