@font-face {
    font-family: "Most";
    src: url(Mostwasted.ttf) format("truetype");
}

*{
    font-family: 'Roboto Slab', serif;
}

body{
    background-image: url(Fondo.jpg);
    overflow-x: hidden;
    width: 100%;
}
/*Navegacion*/
.contenedorHeader{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 1.5vh;
}
.contenedorLogo{
    display: flex;
    align-items: center;
}
.logo{
    width: 50px;
    height: 50px;
    padding: 10px 20px 10px 20px;
}

.navegacion{
    display: flex;
    flex-wrap: wrap;
    font-family: 'Roboto Slab', serif;
    font-size: 1.5em;
}

.tituloNav{ 
    font-family: 'Roboto Slab', serif;
    font-size: 2em;
    color: #36382E;

}

.linkNav{
    padding: 15px;
    text-decoration: none;
    color: #36382E;
    transition: 0.5s ease-in-out all;
}

.linkNav:hover{
    color: #8003A5;
    cursor: pointer;
    transform: scale(1.1);
    border: dashed #8003A5;
    border-radius: 25px;
}
/*Navegacion*/
/*Sobre Mi*/
.contenedorSobreMi{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:150px;
    align-items: center;
    margin-top: 10vh;
    margin-bottom: 5vh;
}
.banner{
    position:absolute;
    z-index: -1;
    top: 0;
}
.imagenBanner{
    opacity: 0.1;
}
.contenedorResumen{
    width: 40%;
}
.contenedorResumen h1{
    font-family: "Most";
    font-size: 4em;
    margin-bottom: 5vh;
    color: #8003A5;
    animation: cambioColor 5s infinite;
}
.contenedorResumen p{
    display: inline-block;
    font-family: 'Roboto Slab', serif;
    font-size: 1.5em;
    margin-bottom: 5vh;
    color: #36382E;
    text-align: justify;
    line-height: 1.5em;
}
.redes{
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
}
.github{
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 1s ease;
}
.github img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    transition: 0.5s all;
    margin: 15px;
}
.github img:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 33px 4px rgba(128,3,165,1);
}
.github:hover p{
    transform: scale(1.1);
    color: #8003A5;
    transition: all 1s ease;
}
.linkedin{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.linkedin img{
    width: 50px;
    height: 50px;
    margin: 15px;
    border-radius: 100%;
    transition: 0.5s all ease-in-out;
}
.linkedin img:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 33px 4px rgba(128,3,165,1);
}
.linkedin:hover p{
    transform: scale(1.1);
    color: #8003A5;
    transition: all 1s ease;
}
.curriculum{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.curriculum img{
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 15px;
    transition: 0.5s all;
}
.curriculum img:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 40px 4px rgba(128,3,165,1);
}
.curriculum:hover p{
    transform: scale(1.1);
    color: #8003A5;
    transition: all 1s ease;
}
.fotoPerfil img{
    border-radius: 100%;
}
/*Sobre Mi*/
/*Biografia*/
.contenedorBiografia{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}
.contenedorBiografia h1{
    font-family: "Most";
    font-size: 3em;
    margin-bottom: 5vh;
    animation: cambioTamaño infinite 0.8s ease-in-out;
}
.contenedorBiografia p{
    font-family: 'Roboto Slab', serif;
    font-size: 1.5em;
    width: 80%;
    line-height: 2em;
    text-align: justify;
}
/*Biografia*/
/*skills*/
.contenedorSkills{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.tituloskills{
    font-family: "Most";
    font-size: 3em;
    margin-bottom: 5vh;
    animation: cambioTamaño infinite 0.8s ease-in-out;
}
.contenedorDivs{
    display: flex;
    flex-direction: column;
    width: 80%;
}
.Skills{
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 50px;
    gap: 50px;
}
.item{
    display: flex;
    flex-direction: column;
    width: 250px;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: 'Roboto Slab', serif;
    transition: all 1s ease;
}
.item img{
    margin: 10px;
    width: 200px;
}
.item:hover {
    transform: scale(1.2);
    cursor: pointer;
}
.item:hover p{
    transform: scale(1.3);
    transform: translateY(20px);
    color: #8003A5;
    transition: all 1s ease;
}
/*skills*/
/*Hobbies*/
.contenedorHobbies{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 50px;
}
.contenedorHobbies h1{
    font-family: "Most";
    font-size: 3em;
    margin-bottom: 5vh;
    animation: cambioTamaño infinite 0.8s ease-in-out;
}
.contenedorItems{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 50px;
    width: 90%;
}
.itemH{
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 0px 30px 30px 30px;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: 'Roboto Slab', serif;
    border-radius: 20px;
    font-size: 20px;
    transition: all 1s ease;
}
.itemH img{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
}
.itemH:hover{
    transform: scale(1.2);
    cursor: pointer;
}
.itemH:hover p{
    color: #8003A5;
    transform: translateY(25px);
    transition: 1s all ease;
}
.itemH img:hover{
    opacity: 0;
}
#leer:hover{
    background-image: url(leeranimado.gif);
    background-size: cover;
    background-position: -25px;
    transition:  1s ease-in-out;
}
#escuchar:hover{
    background-image: url(musicanimado.gif);
    background-size: cover;
    background-position: -25px;
    transition:  1s ease-in-out;
}
#dibujar:hover{
    background-image: url(drawanimado.gif);
    background-size: cover;
    background-position: -125px;
    transition:  1s ease-in-out;
}
#programar:hover{
    background-image: url(codeanimado.gif);
    background-size: cover;
    background-position: -15px;
    transition:  1s ease-in-out;
}
#bicicleta:hover{
    background-image: url(bikeanimado.gif);
    background-size: cover;
    background-position: -80px;
    transition:  1s ease-in-out;
}
#viajar:hover{
    background-image: url(travelanimado.gif);
    background-size: cover;
    background-position: -25px;
    transition:  1s ease-in-out;
}
#jugar:hover{
    background-image: url(gamesanimado.gif);
    background-size: cover;
    background-position: -100px;
    transition:  1s ease-in-out;
}
#bailar:hover{
    background-image: url(danceanimado.gif);
    background-size: cover;
    background-position: -100px;
    transition:  1s ease-in-out;
}
#caminar:hover{
    background-image: url(walkanimado.gif);
    background-size: cover;
    background-position: -50px;
    transition:  1s ease-in-out;
}
#aprender:hover{
    background-image: url(learnanimado.gif);
    background-size: cover;
    background-position: -45px;
    transition:  1s ease-in-out;
}
#gimnasio:hover{
    background-image: url(gymanimado.gif);
    background-size: cover;
    background-position: -45px;
    transition:  1s ease-in-out;
}
#nadar:hover{
    background-image: url(swimanimado.gif);
    background-size: cover;
    background-position: -200px;
    transition:  1s ease-in-out;
}
/*Hobbies*/
/*Formacion*/
.contenedorFormacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.contenedorFormacion h1{
    font-family: "Most";
    font-size: 3em;
    margin-bottom: 5vh;
    animation: cambioTamaño infinite 0.8s ease-in-out;
}
.contenedorItemsF{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    width: 90%;
    margin-top: 25px;
    justify-content: center;
}
.itemF{
    position: relative;
    width: 300px;
    height: 300px;
}
.itemF div{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    transition: 1s ease-in-out;
    border-radius: 50px;
    text-align: center;
}
.itemF img{
    width: 250px;
}
.itemF .front{
    transform: perspective(500px) rotateY(0deg);
    background-color: rgba(128,3,165,0.2);
}
.itemF .back{
    flex-direction: column;
    transform: perspective(500px) rotateY(180deg);
    background-color: rgba(54, 56, 46, 0.8);
    color: #E5E5E5;
}
.itemF:hover .front{
    transform: perspective(500px) rotateY(180deg);
    cursor: pointer;
}
.itemF:hover .back{
    transform: perspective(500px) rotateY(360deg);
}
.back h6{
    
    font-size: larger;
    font-weight: bolder;
    font-family: 'Roboto Slab', serif;
    margin-bottom: 25px;
}
.back p{
    font-size: medium;
    font-family: 'Roboto Slab', serif;
    margin-bottom: 25px;
}
/*Formacion*/
/*Proyectos*/
.contenedorProyectos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-top: 2vh;
}
.contenedorProyectos h1{
    font-family: "Most";
    font-size: 3em;
    margin-top: 5vh;
    margin-bottom: 5vh;
    animation: cambioTamaño infinite 0.8s ease-in-out;
}
.contenedorCadaProyecto{
    display: flex;
    width: 80%;
    margin-top: 10px;
    margin-bottom: 20px;
}
.imagenProyecto{
    margin: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imagenProyecto iframe{
    width: 100%;
    height: 100%;
    border-radius: 25px;
    box-shadow: 20px 20px 10px 1px rgba(0,0,0,0.75);
    transition: all .5s ease-in-out;
}
.imagenProyecto iframe:hover{
    transform: scale(1.01);
    box-shadow: 20px 20px 20px 1px rgba(0,0,0,0.75);
}
.contenidoProyecto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.contenidoProyecto h2{
    font-family: "Most";
    font-size: 4em;
    animation: cambioColor 8s infinite;
}
.contenidoProyecto h4{
    font-family: 'Roboto Slab', serif;
    font-size: 2em;
}
.contenidoProyecto p{
    font-family: 'Roboto Slab', serif;
    font-size: 1.5em;
    line-height: 2em;
    text-align: justify;
    margin-bottom: 10px;
}
.infoProyecto{
    display: flex;
    gap: 30px;
}
.infoProyecto a{
    text-decoration: none;
    color: #36382E;
}
.infoProyecto button{
    padding: 15px;
    background-color: rgba(128,3,165,0.2);
    border-radius: 20px;
    border: none;
    color: #36382E;
    font-size: 35px;
    transition: all 1s ease-in-out;
}
.infoProyecto button:hover{
    background-color: rgba(54, 56, 46, 0.3);
    color: #8003A5;
    transform: scale(1.1);
}
.infoProyecto a:hover{
    color: #8003A5;
}
/*Proyectos*/
/*Contacto*/
.contenedorContacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.contenedorContacto h1{
    font-family: "Most";
    font-size: 4em;
    margin-top: 5vh;
    margin-bottom: 5vh;
    animation: cambioTamaño infinite 0.8s ease-in-out;
}
.contenedorItemC{
    display: flex;
    flex-direction: column;
    padding: 15px;
    position: relative;
    margin-bottom: 10px;
}
.contenedorItemC label{
    margin-bottom: 10px;
    font-size: larger;
    font-family: 'Roboto Slab', serif;
    color: #36382E;
}
.contenedorItemC input{
    width: 500px;
    height: 25px;
    font-family: 'Roboto Slab', serif;
    border-radius: 10px;
    border: 0;
}
.contenedorItemC input:focus{
    border: 1px #8003A5 solid;
    outline: none;
}
.contenedorItemC textarea{
    border-radius: 10px;
}
.labelN{
    position: absolute;
    top: 20px;
    left: 20px;
    transition: all 0.5s;
}
#nombre::placeholder, #correo::placeholder, #tema::placeholder, #mensaje::placeholder{ 
    visibility: hidden;
}
#nombre:not(:placeholder-shown) + .labelN, #nombre:focus + .labelN,#correo:not(:placeholder-shown) + .labelN, #correo:focus + .labelN,#tema:not(:placeholder-shown) + .labelN, #tema:focus + .labelN, #mensaje:not(:placeholder-shown) + .labelN, #mensaje:focus + .labelN{
    top: -13px;
    transition: all 0.5s;
    color: #8003A5;
}
.contenedor-boton{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.boton{
    display: inline-flex;
    width: 400px;
    height: 50px;
    background-color: #36382E;
    color: #E5E5E5;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.4s ease;
    position: relative;
    margin: 10px 0px;
}.boton span{
    transition: .4s all ease-in-out;
    position: absolute;
    left: 30%;
}
.boton .flecha{
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 2;
    left: -40px;
    transition: all .3s ease-in-out;
    opacity: 0;
}
.flecha svg{
    color: #E5E5E5;
    width: 25px;
    height: 25px;
}
.boton:hover .flecha{
    left: calc(100% - 50px);
    opacity: 1;
}
.boton:hover span{
    left: 20px;
}
.boton:hover{
    background-color: #8003A5;
}
.formulario-input-error{
    font-size: 15px;
    font-family: 'Roboto Slab', serif;
    color: #bb2929;
    margin-top: 10px;
    display: none;
}
.formulario-input-error-activo{
    display: block;
}
.formulario-mensaje{
    height: 45px;
    line-height: 45px;
    background: #F66060;
    padding: 0 15px;
    border-radius: 10px;
    display: none;
}
.formulario-mensaje-activo{
    display: block;
}
.formulario-mensaje-enviado{
    font-size: 14px;
    color: #119200;
    display: none;
}
.formulario-mensaje-enviado-activado{
    display: block;
}
.formulario-incorrecto input{
    border: solid 2px #bb2929
}
.formulario-incorrecto label{
    color: #bb2929;
}
.formulario-incorrecto textarea{
    border: solid 2px #bb2929
}
.formulario-correcto input{
    border: solid 2px #119200;
}
.formulario-correcto textarea{
    border: solid 2px #119200;
}
/*Contacto*/
/*Footer*/
.contenedorFooter{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedorFooter p{
    margin: 50px;
    font-size: 3em;
    font-family: "Most";
    animation: cambioColor 10s ease infinite;
}
/*Footer*/
/*Animaciones*/
@keyframes cambioColor{
    0% {color:#8003A5}
    20% {color: #36382E;}
    40% {color: #8003A5;}
    60% {color: #36382E;}
    80% {color: #8003A5;}
    90% {color: #36382E;}
    100% {color: #8003A5;}
}
@keyframes cambioTamaño {
    0% {transform: scale(1); color: #36382E;}
    50% {transform: scale(1.1); color:#8003A5;}
    100% {transform: scale(1); color: #36382E;}
}
/*Animaciones*/
/*Responsividad*/
@media only screen and (max-width: 425px){
/*Navegacion*/
.contenedorHeader{
    flex-direction: column;
}
.navegacion{
    justify-content: center;
}
/*Navegacion*/
/*Sobre Mi*/
.contenedorSobreMi{
    gap:20px;
    align-items: center;
    margin-top: 3vh;
    margin-bottom: 2vh;
}
.contenedorResumen{
    width: 90%;
}
.contenedorResumen h1{
    font-size: 2.5em;
}
.banner img{
    display: none;
}
.contenedorResumen p{
    font-size: 1.2em;
}
.redes{
    gap: 20px;
}
.fotoPerfil{
    display: flex;
    align-items: center;
    justify-content: center;
}
.fotoPerfil img{
    width: 80%;
}
/*Sobre Mi*/
/*Biografia*/

.contenedorBiografia h1{
    font-size: 2.5em;
}
.contenedorBiografia p{
    font-size: 1em;
    width: 100%;
}
/*Biografia*/
/*skills*/
.tituloskills{
    font-size: 2.5em;
    margin-bottom: 1vh;
}
.contenedorDivs{
    width: 90%;
}

.item{
    width: 150px;
}
.item img{
    width: 75px;
}
/*skills*/
/*Hobbies*/
.contenedorHobbies{
    margin-top: 10px;
    margin-bottom: 50px;
}
.contenedorHobbies h1{
    font-size: 2.5em;
}
.contenedorItems{
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 90%;
    margin-top: 10px;
}
.itemH{
    width: 100px;
    margin: 0px 20px 30px 20px;
}
.itemH img{
    margin-bottom: 30px;
    width: 100px;
}
.itemH p{
    font-size: 15px ;
}
.itemH:hover{
    transform: scale(1.1);
}
/*Hobbies*/
/*Formacion*/
.itemF{
    height: 250px;
}
/*Formacion*/
/*Proyectos*/
.contenedorProyectos{
    margin-top: 1vh;
}
.contenedorProyectos h1{
    margin-top: 1vh;
    margin-bottom: 1vh;
}
.contenedorCadaProyecto{
    flex-wrap: wrap;
    margin-top: 20px;
}
.imagenProyecto{
    margin: 20px 0px;
}
.imagenProyecto img{
    width: 300px;
}
.contenidoProyecto h2{
    font-size: 3em;
}
.contenidoProyecto h4{
    font-size: 1.7em;
}
.contenidoProyecto p{
    font-size: 1.2em;
}
.infoProyecto{
    gap: 20px;
}
.infoProyecto button{
    padding: 15px;
    font-size: 20px;
}
/*Contacto*/
.contenedorContacto h1{
    font-size: 3em;
    margin-top: 1vh;
    margin-bottom: 2vh;
}
.contenedorItemC input{
    margin: 0px auto;
    width: 300px;
}
.contenedorItemC textarea{
    margin: 0px auto;
    width: 100%;
}
.boton{
    width: 300px;
}.boton span{
    left: 25%;
}
/*Contacto*/
/*Footer*/
.contenedorFooter p{
    margin: 10px;
    font-size: 1em;
}
/*Footer*/
}
@media only screen and (max-width: 768px) and (min-width: 426px){
    /*Navegacion*/
.contenedorHeader{
    flex-wrap: nowrap;
    margin-top: 1vh;
}
.logo{
    width: 30px;
    height: 30px;
}

.navegacion{
    flex-wrap: nowrap;
    font-size: 1em;
}

.tituloNav{ 
    font-size: 1em;
}
.linkNav{
    padding: 10px;
}
/*Navegacion*/
/*Sobre Mi*/
.contenedorSobreMi{
    flex-wrap: nowrap;
    gap:50px;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.banner{
    display: none;
}
.contenedorResumen{
    width: 40%;
}
.contenedorResumen h1{
    font-size: 2em;
    margin-bottom: 5vh;
}
.contenedorResumen p{
    font-size: 1em;
}
.redes{
    gap: 20px;
}
.fotoPerfil img{
    border-radius: 100%;
    width: 200px;
}
/*Sobre Mi*/
/*Biografia*/
.contenedorBiografia h1{
    font-size: 2.5em;
}
.contenedorBiografia p{
    font-size: 1.2em;
}
/*Biografia*/
/*Skills*/
/*Skills*/
/*Hobbies*/
.contenedorHobbies{
    margin-top: 20px;
    margin-bottom: 20px;
}
.contenedorHobbies h1{
    font-size: 2.5em;
}
.contenedorItems{
    align-content: center;
    justify-content: center;
    gap: 20px;
    width: 90%;
}
/*Hobbies*/
/*Formacion*/
.contenedorItemsF{
    width: 90%;
}
/*Formacion*/
/*Proyectos*/
.contenedorCadaProyecto{
    flex-wrap: wrap;
}
.imagenProyecto{
    align-items: center;
    justify-content: center;
    margin: 30px auto;
}
.imagenProyecto img{
    width: 500px;
}
.contenidoProyecto h2{
    font-size: 3em;
}
.contenidoProyecto h4{
    font-size: 1.7em;
}
.contenidoProyecto p{
    font-size: 1.2em;
}
.infoProyecto button{
    font-size: 25px;
}
/*Proyectos*/
/*Contacto*/
/*Contacto*/
/*Footer*/
.contenedorFooter p{
    font-size: 2em;
}
/*Footer*/
}
@media only screen and (max-width: 1440px) and (min-width: 769px){
    /*Navegacion*/
/*Navegacion*/
/*Sobre Mi*/
.banner{
    display:none;
}
/*Sobre Mi*/
/*Biografia*/
/*Biografia*/
/*skills*/
/*skills*/
/*Hobbies*/
/*Hobbies*/
/*Formacion*/
.itemF{
    height: 300px;
}
/*Formacion*/
/*Proyectos*/
.contenedorCadaProyecto{
    width: 90%;
}
.imagenProyecto{
    margin: 30px;
}
/*Proyectos*/
/*Contacto*/
/*Contacto*/
/*Footer*/
/*Footer*/
}