@font-face {
    font-family: "Most";
    src: url(/assets/Fuentes/Mostwasted.ttf) format("truetype");
}

*{
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: url(/assets/Header/Fondo.jpg);
}
/*Navegacion*/
.contenedorHeader{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1.5vh;
}
.contenedorLogo{
    display: flex;
    align-items: center;
}
.logo{
    width: 50px;
    height: 50px;
    padding: 10px 20px 10px 20px;
}

.navegacion{
    display: flex;
    font-family: 'Poppins';
    font-size: 1.5em;
}

.tituloNav{ 
    font-family: 'Poppins';
    font-size: 2em;
    color: #36382E;

}

.linkNav{
    padding: 15px;
    text-decoration: none;
    color: #36382E;
    transition: 0.5s ease-in-out all;
}

.linkNav:hover{
    color: #8003A5;
    cursor: pointer;
    transform: scale(1.1);
    border: dashed #8003A5;
    border-radius: 25px;
}
/*Navegacion*/
/*Sobre Mi*/
.contenedorSobreMi{
    display: flex;
    justify-content: center;
    gap:150px;
    align-items: center;
    margin-top: 10vh;
    margin-bottom: 5vh;
}
.banner{
    position:absolute;
    z-index: -1;
    top: 0;
}
.imagenBanner{
    opacity: 0.5;
}
.contenedorResumen{
    width: 40%;
}
.contenedorResumen h1{
    font-family: "Most";
    font-size: 4em;
    margin-bottom: 5vh;
    color: #8003A5;
    animation-name: cambioColor;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}
.contenedorResumen p{
    display: inline-block;
    font-family: 'Poppins';
    font-size: 1.5em;
    margin-bottom: 5vh;
    color: #36382E;
    text-align: justify;
    line-height: 1.5em;
}
.redes{
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
}
.github{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.github img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    transition: 0.5s all;
    margin: 15px;
}
.github img:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 33px 4px rgba(128,3,165,1);
}
.linkedin{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.linkedin img{
    width: 50px;
    height: 50px;
    margin: 15px;
    border-radius: 100%;
    transition: 0.5s all ease-in-out;
}
.linkedin img:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 33px 4px rgba(128,3,165,1);
}
.curriculum{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.curriculum img{
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 15px;
    transition: 0.5s all;
}
.curriculum img:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 40px 4px rgba(128,3,165,1);
}
.fotoPerfil img{
    border-radius: 100%;
}
/*Sobre Mi*/
/*Biografia*/
.contenedorBiografia{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}
.contenedorBiografia h1{
    font-family: "Most";
    font-size: 3em;
    margin-bottom: 5vh;
    animation-name: cambioColor;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}
.contenedorBiografia p{
    font-family: "Poppins";
    font-size: 1.5em;
    width: 80%;
    line-height: 2em;
    text-align: justify;
}
/*Biografia*/
/*skills*/
.contenedorSkills{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.tituloskills{
    font-family: "Most";
    font-size: 3em;
    margin-bottom: 5vh;
    animation-name: cambioColor;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}
.contenedorDivs{
    display: flex;
    flex-direction: column;
    width: 80%;
}
.Skills{
    display: flex;
    justify-content: center;
    overflow-x: scroll;
}
.item{
    display: flex;
    flex-direction: column;
    width: 250px;
    align-items: center;
    border: solid 2px black;
    text-align: center;
    justify-content: center;
    font-family: "Poppins";
}
.item img{
    margin: 10px;
    width: 200px;
}
/*skills*/
/*Hobbies*/
.contenedorHobbies{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 50px;
}
.contenedorHobbies h1{
    font-family: "Most";
    font-size: 3em;
    margin-bottom: 5vh;
    animation: cambioTamaño infinite 0.8s ease-in-out;
}
.contenedorItems{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    width: 70%;
    margin-top: 50px;
}
.itemH{
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 0px 30px 30px 30px;
    align-items: center;
    box-shadow: 0px 0px 40px 4px rgba(128,3,165,1);
    text-align: center;
    justify-content: center;
    font-family: "Poppins";
    border-radius: 20px;
}
.itemH img{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    
}
.itemH:hover{
    color: #8003A5;
}
.itemH img:hover{
    opacity: 0;
}
#leer:hover{
    background-image: url(/assets/Hobbies/leeranimado.gif);
    background-size: cover;
    background-position: -25px;
    transition:  1s ease-in-out;
}
#escuchar:hover{
    background-image: url(/assets/Hobbies/musicanimado.gif);
    background-size: cover;
    background-position: -25px;
    transition:  1s ease-in-out;
}
#dibujar:hover{
    background-image: url(/assets/Hobbies/drawanimado.gif);
    background-size: cover;
    background-position: -125px;
    transition:  1s ease-in-out;
}
#programar:hover{
    background-image: url(/assets/Hobbies/codeanimado.gif);
    background-size: cover;
    background-position: -15px;
    transition:  1s ease-in-out;
}
#bicicleta:hover{
    background-image: url(/assets/Hobbies/bikeanimado.gif);
    background-size: cover;
    background-position: -80px;
    transition:  1s ease-in-out;
}
#viajar:hover{
    background-image: url(/assets/Hobbies/travelanimado.gif);
    background-size: cover;
    background-position: -25px;
    transition:  1s ease-in-out;
}
#jugar:hover{
    background-image: url(/assets/Hobbies/gamesanimado.gif);
    background-size: cover;
    background-position: -100px;
    transition:  1s ease-in-out;
}
#bailar:hover{
    background-image: url(/assets/Hobbies/danceanimado.gif);
    background-size: cover;
    background-position: -100px;
    transition:  1s ease-in-out;
}
#caminar:hover{
    background-image: url(/assets/Hobbies/walkanimado.gif);
    background-size: cover;
    background-position: -50px;
    transition:  1s ease-in-out;
}
#aprender:hover{
    background-image: url(/assets/Hobbies/learnanimado.gif);
    background-size: cover;
    background-position: -45px;
    transition:  1s ease-in-out;
}
#gimnasio:hover{
    background-image: url(/assets/Hobbies/gymanimado.gif);
    background-size: cover;
    background-position: -45px;
    transition:  1s ease-in-out;
}
#nadar:hover{
    background-image: url(/assets/Hobbies/swimanimado.gif);
    background-size: cover;
    background-position: -200px;
    transition:  1s ease-in-out;
}
/*Hobbies*/
/*Formacion*/
.contenedorFormacion{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contenedorFormacion h1{
    font-family: "Most";
    font-size: 3em;
    margin-bottom: 5vh;
    animation: cambioTamaño infinite 0.8s ease-in-out;
}
.contenedorItemsF{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    width: 70%;
    margin-top: 25px;
    justify-content: center;
}
.itemF{
    position: relative;
    width: 300px;
    height: 400px;
}
.itemF div{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    transition: 1s ease-in-out;
    border-radius: 50px;
}
.itemF img{
    width: 250px;
}
.itemF .front{
    transform: perspective(500px) rotateY(0deg);
    background-color: rgba(128,3,165,0.2);
}
.itemF .back{
    flex-direction: column;
    transform: perspective(500px) rotateY(180deg);
    background-color: rgba(54, 56, 46, 0.8);
    color: #E5E5E5;
}
.itemF:hover .front{
    transform: perspective(500px) rotateY(180deg);
}
.itemF:hover .back{
    transform: perspective(500px) rotateY(360deg);
}
.back h6{
    font-size: larger;
    font-weight: bolder;
    font-family: "Poppins";
    margin-bottom: 25px;
}
.back p{
    font-size: medium;
    font-family: "Poppins";
    margin-bottom: 25px;
}
/*Formacion*/
/*Animaciones*/
@keyframes cambioColor{
    0% {color:#8003A5}
    25% {color: #36382E;}
    50% {color: #8003A5;}
    75% {color: #36382E;}
    100% {color: #8003A5;}
}
@keyframes cambioTamaño {
    0% {transform: scale(1); color: #36382E;}
    50% {transform: scale(1.2); color:#8003A5;}
    100% {transform: scale(1); color: #36382E;}
}
